@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    background-color: #EFBA00;
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
}